:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

li, ul {
    list-style: none;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.main {
  display: flex;
  flex-direction: column;
}

.canvas-container {
    display: grid;
    width: 720px;
    height: 720px;
    margin: 10px 0;
    border: 1px solid grey;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.settings {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.color-picker {
    display: inline-block;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-container span {
    margin-right: 10px;
}

.pixel {
    color: white;
}

input[type="color"] {
    -webkit-appearance: none;
     width: 40px;
     height: 40px;
     border: 0;
     border-radius: 50%;
     overflow: hidden;
     box-shadow: 2px 2px 5px rgba(0,0,0,.1);
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0;
 }

 input[type="color"]::-webkit-color-swatch {
     border: none;
 }

 .btn {
     background: none;
     border: 1px solid grey;
     padding: 10px 20px;
     border-radius: 3px;
 }

 .btn:hover {
     cursor: pointer;
     transform: scale(1.05);
 }

 .selected {
     background: black;
     color: wheat;
     font-weight: bold;
 }
 .rainbow-selected {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    color: white;
 }